* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    display: inline;
    text-decoration-color: black;

}

a {
    color: black;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: blue;
}

.nav-bar {
    background-color: darkgrey;
    border-width: 3px;
    border-style: solid;
    border-color: darkgrey;
}