body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border-radius: 5px;
    padding: .5em;
    margin: 8px;
}

.message-info {
    background-color: #CDDEFF;
    color: #342A91;

}

.message-success {
    background-color: #CFF3DA;
    color: #2C804F;
}

.message-warning {
    background-color: #FDFBC9;
    color: #AE9E51;

}

.message-error {
    background-color: #FBD2D6;
    color: #9A3E52;

}

