* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;

}

.grid-container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 200px 600px;
    justify-content: center;
}

.grid-item {
    background: #99ff99;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: -1;
}
.grid-item2 {

}
.grid-item3 {

}
.grid-item4 {

}
.grid-item5 {

}

.grid-item6 {

}

.grid-item7 {
    grid-column-start: 1;
    grid-column-end: -1;
}


